$cardcolor: #ffff;
$cardborder: rgb(229, 231, 235);
$shadowgrey: #d1d5db;
$cardpadding: 0px 16px;
$darktext: rgb(17, 24, 39);
$graymedium: rgb(107, 114, 128);
$bgcolor: rgb(243, 244, 246);
$sidebar: rgba(243, 244, 246, 0.9);
$indigo500: #3f51b5;
$indigo600: rgb(79, 70, 229);
$indigo700: rgb(67, 56, 202);
$navbarpadding: 3vw;
