$cardpadding: 0px 16px;
$darktext: rgb(17, 24, 39);
$cardcolor: rgb(243, 244, 246);
$cardborder: rgb(229, 231, 235);
$graymedium: rgb(107, 114, 128);

.card {
  background-color: $cardcolor;
  border: 1px;
  border-style: solid;
  border-color: $cardborder;
  border-radius: 4px;
  height: auto;
  width: 420px;
  display: block;

  img {
    height: 100%;
    width: 80%;
    padding-top: 22px;
  }

  h1 {
    color: $darktext;
    font-size: 20px;
  }
}

.card--info {
  height: auto;
  width: auto;
  margin: $cardpadding;
  text-align: left;

  h1 {
    margin-bottom: 0px;
  }
}

.card--info-primary {
  display: flex;
  height: auto;
  width: auto;

  p {
    margin: 6px 0px;
    padding-right: 10px;
    color: $darktext;
    font-size: 14px;
    font-weight: 300;
  }
}

.card--price {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  height: 60px;
  width: auto;
  margin: $cardpadding;
  align-items: center;

  h1 {
    text-align: left;
    grid-column: 1;
    font-size: 26px;
    color: $darktext;
  }

  h2 {
    text-align: right;
    grid-column: 2;
    font-size: small;
    font-weight: 400;
    color: $graymedium;
  }
}
