.car {
  height: auto;
  width: auto;
  overflow: hidden;
  display: flex;
  flex-flow: wrap;
  padding: 30px 50px;
  justify-content: center;
  background-color: rgb(243, 244, 246);
}

.cart {
  display: flexbox;
}
