.results {
  background-color: #f5f5f5;
  scroll-margin-top: 70px;
}

.results--banner {
  height: auto;
  width: auto;
  background-color: #f5f5f5;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding: 2px 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3f51b5;
  font-size: 12px;
  font-weight: 500;
}

.results--banner-right-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30vw;
  -webkit-transition: 1200ms;
  transition: 1200ms;
}

.results--banner-right-active h4 {
  color: #757575;
  padding-right: 8px;
}

.results--banner-right-active p {
  padding-right: 6px;
}

.results--banner-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1200ms;
  transition: 1200ms;
}

.results--banner-right h4 {
  color: #757575;
  padding-right: 8px;
}

.results--banner-right p {
  padding-right: 6px;
}

.results--title h1 {
  text-align: center;
  font-weight: 700;
}

.car {
  height: auto;
  width: auto;
  background-color: #f5f5f5;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding: 0px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1200ms;
  transition: 1200ms;
  padding-bottom: 40px;
}

.car-active {
  height: auto;
  width: auto;
  background-color: #f5f5f5;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding: 0px 0px;
  padding-right: 30vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1200ms;
  transition: 1200ms;
  padding-bottom: 40px;
}

.cart--item {
  height: 100vh;
  width: 30vw;
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  right: -100%;
  overflow-y: scroll;
  -webkit-transition: 1200ms;
  transition: 1200ms;
}

.cart--item h1 {
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
  color: #fafafa;
}

.cart--item-active {
  height: 100vh;
  width: 30vw;
  background-color: #212121ee;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 300;
  overflow-y: scroll;
  -webkit-transition: 1200ms;
  transition: 1200ms;
  -webkit-box-shadow: 0 10px 15px -3px #263238da, 0 4px 6px -4px #263238da;
          box-shadow: 0 10px 15px -3px #263238da, 0 4px 6px -4px #263238da;
}

.cart--item-active h1 {
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
  color: #fafafa;
}

@media (max-width: 700px) {
  .cart--item-active {
    height: 80vh;
    width: 50vw;
    background-color: #212121ee;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
    overflow-y: scroll;
    -webkit-transition: 1200ms;
    transition: 1200ms;
  }
}

.cart--close {
  width: 14%;
  opacity: 0.5;
  margin: 0;
  padding: 0;
  position: fixed;
  -webkit-transition: 1200ms;
  transition: 1200ms;
}

.cart--close:hover {
  opacity: 1;
}

.cart--item-card {
  margin: 20px 50px;
  -webkit-transition: 1200ms;
  transition: 1200ms;
}

.cart--total {
  height: 100px;
  width: auto;
  font-size: 12px;
  color: #fafafa;
}

.hr-line {
  border-top: 1px solid #9e9e9e;
  margin: 0px 4vw;
}
/*# sourceMappingURL=CarResult.css.map */