@import "../variables/variables.scss";

.car {
  height: auto;
  width: auto;
  overflow: hidden;
  display: flex;
  flex-flow: wrap;
  padding: 30px 50px;
  justify-content: center;
  background-color: $bgcolor;
}

.cart--item {
  background-color: $bgcolor;
  height: 100vh;
  width: 30vw;
  position: fixed;
  top: 0;
  right: -100%;
  overflow-y: scroll;
  transition: 1500ms;

  h1 {
    text-align: center;
  }
}

.cart--item-active {
  background-color: $sidebar;
  height: 100vh;
  width: 30vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 300;
  overflow-y: scroll;
  transition: 1000ms;

  h1 {
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
  }
}

.cart--close {
  width: 14%;
  opacity: 0.5;
  margin: 0;
  padding: 0;
  position: fixed;
  transition: 1350ms;

  &:hover {
    opacity: 1;
  }
}

.cart--item-card {
  margin: 40px;
}

.cart--total {
  height: 100px;
  width: auto;
  font-size: 12px;
}
