@import "../variables/variables.scss";

.cart {
  height: auto;
  width: 100%;
  background-color: $bgcolor;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cart--card {
  height: auto;
  width: auto;
  background-color: $cardcolor;
  margin: 10px 480px;
  padding: 10px 0px;
  border: 1px;
  border-style: solid;
  border-color: $cardborder;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    height: 90px;
    width: auto;
  }

  h1 {
    font-size: medium;
  }

  h2 {
    font-size: small;
    padding-bottom: 10px;
  }
}

.cart--card:hover {
  box-shadow: 0 10px 15px -3px $shadowgrey, 0 4px 6px -4px $shadowgrey;
}
