@import "../variables/variables.scss";

.cart {
  height: 100%;
  width: auto;
  background-color: $bgcolor;
  margin-bottom: 20px;
}

.cart--card {
  height: auto;
  width: auto;
  background-color: $cardcolor;
  padding: 8px 0px;
  border: 1px;
  border-style: solid;
  border-color: $cardborder;
  text-align: center;

  img {
    height: auto;
    width: 100%;
  }

  h1 {
    font-size: medium;
    color: black;
  }

  h2 {
    font-size: small;
    padding-bottom: 10px;
  }
}

.cart--card:hover {
  box-shadow: 0 10px 25px -3px #0d47a1, 0 4px 6px -4px #0d47a1;
}
