.featured {
  height: auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 20px;
  padding-bottom: 100px;
  -webkit-transition: 1200ms;
  transition: 1200ms;
  color: #fafafa;
  scroll-margin-top: 70px;
  -webkit-box-shadow: 0 0px 20px 30px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0px 20px 30px rgba(0, 0, 0, 0.9);
}

.featured h1 {
  text-align: center;
  font-weight: 700;
}

.featured-limited {
  height: auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.9);
  padding: 4px 0px;
  overflow: hidden;
}

.featured-limited h2 {
  z-index: 1;
  font-size: 2em;
  font-weight: 500;
  position: absolute;
  padding-left: 20px;
  color: #fafafa;
}

@media (max-width: 700px) {
  .featured-limited h2 {
    text-align: center;
  }
}

.featured--format {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3;
      grid-template-columns: 3;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  gap: 6px;
      grid-template-areas: "item-one item-two item-three";
  height: 50vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding-bottom: 20px;
  overflow: hidden;
}

@media (max-width: 700px) {
  .featured--format {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    gap: 6px;
        grid-template-areas: "item-one";
    height: 60vh;
    width: 100%;
    overflow: hidden;
  }
  .featured--format .item-two {
    display: none;
  }
}

.item-one {
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  text-align: center;
}

.item-one:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-right: 3vw;
}

.item-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  gap: 6px;
  overflow: hidden;
}

.item-top {
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

.item-top:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-bottom: 2.4vh;
}

.item-bottom {
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

.item-bottom:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 2.4vh;
}

.item-three {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.item-three:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left: 3vw;
}
/*# sourceMappingURL=Featured.css.map */