@import "../variables/variables.scss";

.featured {
  height: auto;
  width: auto;
  background-color: $bgcolor;
  padding-top: 2px;
  transition: $transition;
  color: $darktext;
  scroll-margin-top: $scrollmargin;

  h1 {
    text-align: center;
    font-weight: 700;
  }
}

.featured-limited {
  height: auto;
  width: auto;
  background-color: $bgcolor;
  padding: 2px 60px;
  overflow: hidden;

  h2 {
    font-weight: 400;

    @media (max-width: $mobile) {
      text-align: center;
    }
  }
}

.featured--format {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 1;
  gap: 6px;
  grid-template-areas: "item-one item-two item-three";
  height: 50vh;
  width: 100%;
  background-color: $bgcolor;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: $cardshadow;

  @media (max-width: $mobile) {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    gap: 6px;
    grid-template-areas: "item-one";
    height: 60vh;
    width: 100%;
    background-color: $bgcolor;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: $cardshadow;

    .item-two {
      display: none;
    }
  }
}

.item-one {
  background-size: cover;
  background-repeat: no-repeat;
  transition: $imgtransition;
  overflow: hidden;
  text-align: center;

  &:hover {
    transform: scale(1.2);
    transition: $imgtransition;
    margin-right: 3vw;
  }
}

.item-two {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  gap: 6px;
  overflow: hidden;
}

.item-top {
  background-size: cover;
  background-repeat: no-repeat;
  transition: $imgtransition;
  overflow: hidden;

  &:hover {
    transform: scale(1.2);
    transition: $imgtransition;
    margin-bottom: 2.4vh;
  }
}

.item-bottom {
  background-size: cover;
  background-repeat: no-repeat;
  transition: $imgtransition;
  overflow: hidden;

  &:hover {
    transform: scale(1.2);
    transition: $imgtransition;
    margin-top: 2.4vh;
  }
}

.item-three {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: $imgtransition;

  &:hover {
    transform: scale(1.2);
    transition: $imgtransition;
    margin-left: 3vw;
  }
}

.featured--bottom {
  padding-bottom: 20px;
}

.hr-line {
  border-top: 1px solid $mediumtext;
  margin: 50px 4vw 0px 4vw;
}
