@import "../variables/variables.scss";

.finance {
  height: auto;
  width: auto;
  background-color: $bgcolor;
  padding-top: 2px;
  transition: $transition;
  justify-content: center;
  text-align: center;
  align-items: center;
  scroll-margin-top: $scrollmargin;

  h1 {
    text-align: center;
    font-weight: 700;
  }

  p {
    color: $darkmediumtext;
  }
}

.finance--content {
  display: flex;
  height: auto;
  width: auto;
  background-color: $bgcolor;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
  transition: $transition;

  h2 {
    font-weight: 400;
  }

  img {
    height: auto;
    width: 34vw;
    transition: $transition;
    transition-delay: 3s;
    z-index: 0;
  }

  &:hover {
    img {
      transition: $transition;
      transform: translateX(18vw);
      opacity: 0;
    }

    .finance--calculator {
      transition: $transition;
      transform: translateX(-18vw);
    }
  }
}

.finance--calculator {
  height: auto;
  width: 40vw;
  min-width: 400px;
  background-color: $navcolor;
  border-style: line;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: $transition;
  transition-delay: 3s;
  cursor: pointer;
  box-shadow: $cardshadow;

  h1 {
    color: $lighttext;
    font-weight: 300;
    font-size: 5vh;
  }
  h2 {
    color: $lighttext;
    font-weight: 300;
  }
  h3 {
    color: $lighttext;
    font-weight: 600;
    font-size: 4vh;
  }
}

.finance--input {
  height: auto;
  width: auto;
  margin: 2vw;

  p {
    color: $lighttext;
    margin: 0;
  }
}
