@import "../variables/variables.scss";

.finance {
  height: auto;
  width: auto;
  background-color: $bgcolor;
  padding-top: 2px;
  transition: 1000ms;
  justify-content: center;
  text-align: center;
  align-items: center;

  h1 {
    text-align: center;
    font-weight: 700;
  }

  p {
    color: rgb(109, 109, 109);
  }
}

.finance--limited {
  display: flex;
  background-color: $bgcolor;
  margin-top: 40px;
  padding: 2px 60px;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
  transition: 1500ms;

  h2 {
    font-weight: 400;
  }

  img {
    height: auto;
    width: 34vw;
    transition: 1200ms;
    transition-delay: 3s;
    z-index: 0;
  }

  &:hover {
    img {
      transition: 1200ms;
      transform: translateX(18vw);
      opacity: 0;
    }

    .finance--calculator {
      transition: 1200ms;
      transform: translateX(-18vw);
    }
  }
}

.finance--calculator {
  height: auto;
  width: 40vw;
  background-color: #1565c0;
  box-shadow: 0 10px 12px -3px #26323825, 0 4px 6px 6px #2632381e;
  border-style: line;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: 1200ms;
  transition-delay: 3s;
  cursor: pointer;
  left: 0;

  h1 {
    color: white;
    font-weight: 300;
  }
  h2 {
    color: white;
    font-weight: 300;
  }
  h3 {
    color: white;
    font-weight: 600;
    font-size: 4vh;
  }
}

.finance--input {
  height: auto;
  width: auto;
  margin: 2vw;

  p {
    color: white;
    margin: 0;
  }
}
