$iconpadding: 40px;
$iconopacity: 0.8;

.footer {
  height: 40vh;
  width: 100vw;
  background-color: #01579b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer--linkedin {
  height: 50px;
  width: auto;
  opacity: $iconopacity;
  padding-right: $iconpadding;

  &:hover {
    opacity: 1;
  }
}

.footer--github {
  height: 50px;
  padding-top: 3px;
  opacity: $iconopacity;
  padding-right: $iconpadding;

  &:hover {
    opacity: 1;
  }
}

.footer--email {
  height: 50px;
  opacity: $iconopacity;
  padding-right: $iconpadding;

  &:hover {
    opacity: 1;
  }
}
