@import "../variables/variables.scss";

.header {
  height: auto;
  width: 100vw;
  padding-top: 70px;
  background-color: $navcolor;

  img {
    width: 100%;
  }
}

.arrow {
  display: flex;
  height: auto;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  margin-top: 25vh;
}

.arrow--left {
  z-index: 1;
  margin: 40px;
  opacity: $lowopacity;

  &:hover {
    cursor: pointer;
    opacity: $highopacity;
  }
}

.arrow-right {
  z-index: 1;
  margin: 40px;
  opacity: $lowopacity;

  &:hover {
    cursor: pointer;
    opacity: $highopacity;
  }
}

.slider {
  height: auto;
  width: 100%;
  z-index: -1;
  background-color: $bgcolor;

  img {
    height: 95vh;
    object-fit: cover;
    box-shadow: 0 20px 25px -3px $shadowgrey, 0 4px 6px -4px $shadowgrey;
  }

  h1 {
    position: absolute;
    text-align: center;
    top: 120px;
    left: 0;
    right: 0;
    font-size: 40px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: $lighttext;
  }
}

.caption {
  h1 {
    font-weight: 300;
    color: $lighttext;
  }
}
