@import "../variables/variables.scss";

.header {
  height: auto;
  width: 100vw;
  padding-top: 70px;

  img {
    width: 100%;
  }
}

.arrow {
  display: flex;
  height: auto;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  margin-top: 70px;
}

.arrow--left {
  margin: 40px;
  opacity: 0.8;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.arrow-right {
  margin: 40px;
  opacity: 0.8;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.slider {
  height: auto;
  width: 100%;
  z-index: -1;
  background-color: $bgcolor;

  img {
    height: 292px;
    object-fit: cover;
    box-shadow: 0 20px 25px -3px $shadowgrey, 0 4px 6px -4px $shadowgrey;
  }
}
