@import "../variables/variables.scss";

.navbar {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #1565c0;
  position: fixed;
  top: 0;
  z-index: 1;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  scroll-behavior: smooth;
}

.navbar--left {
  display: flex;
  height: auto;
  width: auto;
  margin-left: $navbarpadding;

  img {
    height: 50px;
    color-adjust: unset;
    filter: brightness(180%);
  }
}

.navbar--middle {
  display: flex;
  height: auto;
  width: auto;
  margin-right: 8vw;

  p {
    padding: 0px 20px;
    font-size: small;
    font-weight: 500;
    color: white;

    &:hover {
      color: #03a9f4;
    }
  }
}

.navbar--right {
  display: flex;
  height: auto;
  width: auto;
  margin-right: $navbarpadding;

  p {
    font-size: small;
    font-weight: 500;
    color: white;

    &:hover {
      color: #03a9f4;
    }
  }
}
